doctype html
html
    head
        title WOW HACK3D WOW
        style
            include ../assets/style.css
    body
        div.wrapper
            h1 wow hello wowrld 
                span #{user.email}
            img(src='/doge.jpg').dogememe
            h2.hack3dbydoge doge so smart it even knows you password 
                span #{user.password}
            h1.bigwow WOW         